$icomoon-font-family: "spiral" !default;
$icomoon-font-path: "../fonts" !default;

$icon-bar-chart: "\e900";
$icon-chat: "\e901";
$icon-eye: "\e902";
$icon-chevron-down: "\e903";
$icon-globe: "\e904";
$icon-heart: "\e905";
$icon-alerlas: "\e906";
$icon-etiquetas: "\e907";
$icon-tiendas: "\e910";
$icon-insta: "\e909";
$icon-login-arrow: "\e90a";
$icon-fvg-path1: "\e90b";
$icon-fvg-path2: "\e90c";
$icon-linkedin: "\e90d";
$icon-whatsapp: "\e90e";
$icon-yt: "\e90f";