.footer {
  width: 100%;
  padding: 0;

  &__info {
    @extend .section;
    position: relative;
    width: 100%;
    display: flex;
    background-color: $COLOR_CELESTE;
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6rem 0 5rem !important;
      z-index: 1;

      @include upTo(xs) {
        padding: 3rem 0 6rem !important;
      }
    }

    hgroup {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;
      
      h3 {
        text-align: center;
        @include fontSize(20px);
        line-height: 1;
        text-align: center;
        color: #ffffff;

        @include upTo(xs) {
          @include fontSize(30px);
        }
      }
      p {
        text-align: center;
        color: white;
        padding: 2rem 0;
        @include fontSize(14px);
        text-align: center;
        color: #ffffff;

        @include upTo(xs) {
          @include fontSize(16px);
        }
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      flex-direction: column;

      @include upTo(xs) {
        flex-direction: row;
      }
      a {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        width: 90%;
        text-align: center;
        justify-content: center;
        margin-bottom: 1.65rem;
        height: 48px;

        @include upTo(xs) {
          width: auto;
          margin-bottom: 0;
        }

        .icon-whatsapp {
          font-size: 1.833rem;
          margin-right: 1rem;
        }
      }
    }
  }

  // images sides
  &__sides {
    width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;

    &--container {
      z-index: -1;
      .footer__sides--left,
      .footer__sides--right {
        path {
          fill: white
        }
      }

      .footer__sides--left {
        bottom: 0;
        width: 11.667rem;
        @include break(xs) {
          left: 10%;
        }
        @include upTo(xs) {
          width: 15.667rem;
        }
        svg {
          position: absolute;
          bottom: 0;

          @include break(xs) {
            bottom: -10%;
          }
        }
      }
      .footer__sides--right {
        top:0;
        width: 15.667rem;

        @include break(xs) {
          align-items: flex-start;
          width: 38%;
        }
        svg {
          position: relative;
          top: 0;

          @include break(xs) {
            width: 100%;
          }
        }
      }
    }

    &--left,
    &--right {
      position: absolute;
      top: 0;
      height: 100%;

      @include upTo(xs) {
        width: 166px;
      }
    }

    &--left {
      left: 0;
      width: 60px;
      
      @include upTo(xs) {
        width: 166px;
        img {
          max-width: 40%;
        }
      }
    }
    &--right {
      right: 0;
      width: 100px;
      text-align: right;
      
      @include break(xs) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }

      img {
        @include break(xs) {
          height: 80px;
        }
      }

      @include upTo(xs) {
        width: 216px;

        img {
          bottom: 0;
        }
      }
    }
  }

  // links
  &__links {
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 2rem 0 0 0;

    @include upTo(sm) {
      padding: 4rem 0 0 0;
    }

    .container {
      display: flex;
      @include upTo(sm) {
        padding: 0;
      }
    }

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include break(xs) {
        // margin-top: 1.5rem;
        padding: 2rem 0;
      }
      
      @include upTo(sm) {
        width: (100% / 3);
      }

      span {
        @include fontSize(16px);
        color: #1d293f;
        font-weight: $REGULAR;
      }

      hgroup {
        h4 {
          @include fontSize(18px);
          font-weight: $BOLD;
          color: $COLOR_VERDE;
          text-transform: uppercase;
        }
      }

      .logo {
        display: flex;
        flex-direction: column;
        span {
          margin-top: 3rem;
          margin-bottom: 2rem;

          @include break(xs) {
            margin-bottom: 0;
          }
        }
      }

      &--last {
        position: relative;
        @include break(xs) {
          align-items: center;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          &:before,
          &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #1d293f;
            opacity: 0.1;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }
        }
        @include upTo(xs) {
          align-items: flex-end;
          justify-content: center;
        }

        .countrySelector {
          @include upTo(xs) {
            margin-bottom: 3.5rem;
          }
        }

        img {
          max-width: 147px;
          @include break(xs) {
            align-self: center;
            flex: 0 0 auto;
          }
          @include upTo(xs) {
            max-width: 184px;
          }
        }

      }
      
    }
    
    &--urls {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      li {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: #1d293f;
          span {
            color: #1d293f;
          }
        }
      }
    }
  }

  // legales
  &__copy {
    background-color: #fff;
    width: 100%;
    padding: 0;
    
    @include upTo(xs) {
      margin-top: 2.5rem;
    }

    .container {
      position: relative;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      justify-content: center;
      display: flex;

      @include upTo(xs) {
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #1d293f;
          opacity: 0.1;
        }
      }

      
    }

    span {
      @include fontSize(13px);
      color: #6d7278;
      text-align: center;

      @include upTo(xs) {
        @include fontSize(16px);
        text-align: left;
      }
    }
  }
}