$ROOT : 12px;

$FONT_FAMILY :'Montserrat', sans-serif;

// FONT-WEIGHT
$BLACK : 900;
$EXTRABOLD : 800;
$BOLD : 700;
$SEMIBOLD : 600;
$MEDIUM : 500;
$REGULAR : 400;
$LIGHT : 300;

$HEIGHT_MENU_MOBILE : 79px;

// COLORS
$COLOR_BG_BODY : white;
$COLOR_LABELS : #999999;
$COLOR_BLACK : #2f281e;
$COLOR_GREY : #333333;
$COLOR_CELESTE : #5799eb;
$COLOR_VERDE : #44d7b6; 
$COLOR_AMARILLO : #f7b500;
$COLOR_ROJO : #e02020;

// SPACES
$PADDING_MOBILE: 20px;
$PADDING_SM: 15px;

// ANIMATIONS
$ANIMATION_EASING: cubic-bezier(0.22, 0.61, 0.36, 1);
$ANIMATION_TIMING: 250ms;
$ANIMATION_DELAY: 150ms;

// HEADER
$HEADER_MAX_HEIGHT : 70px;

// BOOTSTRAP CUSTOMS 
$primary: $COLOR_CELESTE !default;
$secondary: $COLOR_CELESTE !default;

// MODAL
$modal-inner-padding:               0 !default;
$modal-header-padding-y:            0 !default;
$modal-header-padding-x:            0 !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default;