// FORM
$INPUT_MARGINS : 20px;
$CHECKBOX_SIZE: 26px;
$INPUT_HEIGHT_DESKTOP: 32px;
$INPUT_HEIGHT_MOBILE: 31.5px;
$SELECT_ARROW: 12.5px;

$INPUT_PADDING_TOP_BOTTOM : 5px;
$INPUT_PADDING_LEFT_RIGHT : 0;
$INPUT_PADDING : $INPUT_PADDING_TOP_BOTTOM $INPUT_PADDING_LEFT_RIGHT;

$INPUT_PADDING_TOP_BOTTOM_MOBILE : 5px;
$INPUT_PADDING_LEFT_RIGHT_MOBILE : 0;
$INPUT_PADDING_MOBILE : $INPUT_PADDING_TOP_BOTTOM_MOBILE $INPUT_PADDING_LEFT_RIGHT_MOBILE;

$INPUT_BORDER_RADIUS : 0;
$INPUT_FONT_SIZE : 14px;
$INPUT_FONT_SIZE_MOBILE : 14px;
$INPUT_FONT_SIZE_PLACEHOLDER : $INPUT_FONT_SIZE;
$INPUT_FONT_SIZE_PLACEHOLDER_MOBILE : $INPUT_FONT_SIZE_MOBILE;
$INPUT_FONT_COLOR: #111111;

$INPUT_BORDER : 1px solid transparent;
$INPUT_BORDER_BOTTOM : 1px solid #cccccc;

$COLOR_LABEL: #111111;
$LABEL_FONT_SIZE : 12.6px;
$LABEL_FONT_SIZE_MOBILE : 13px;
$LABEL_FONT_WEIGHT : $REGULAR;

$COLOR_INPUT: #353b50;
$COLOR_INVALID_FORM: $COLOR_ROJO;
$COLOR_VALID_FORM: $COLOR_VERDE;
$COLOR_BORDER: #dbdbdb;
// $COLOR_BUTTON_LINK : $COLOR_AZUL;
$COLOR_BG_INPUTS : transparent;
$COLOR_PLACEHOLDER : #999999;

// BUTTON
$BUTTON_FONT_SIZE : 16px;
$BUTTON_FONT_SIZE_MOBILE : 14px;
$BUTTON_HEIGHT : 39.2px;
$BUTTTON_WIDTH: 134px;
$BUTTTON_BORDER_RADIUS: 2px;

// COL
$COL_MARGIN_BOTTOM_MOBILE : 20px;